<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Javier Domínguez Conde e Ignacio Martínez Arteta.
</p>

<img src="/images/javier.png" />
<img src="/images/fotoignacio.jpg" />

<a href="https://github.com/violasbrothers/quiz_2017">Enlace a Github</a>

